<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/mine.css" th:href="@{/css/mine.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}">
</head>
<body>

<!--导航栏-->
<nav th:fragment="menu(page)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <!--stackable: 兼容手机端，可堆叠-->
        <div class="ui inverted menu secondary stackable">
            <h2 class="ui header teal item ">管理后台</h2>
            <a href="#" th:href="@{/admin/blogs}" class="item m-mobile-hide m-item " th:classappend="${page=='blogs'} ? 'active'"><i class="mini home icon"></i>博客</a>
            <a href="#" th:href="@{/admin/types}" class="item m-mobile-hide m-item " th:classappend="${page=='types'} ? 'active'"><i class="mini idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/tags}"  class="item m-mobile-hide m-item" th:classappend="${page=='tags'} ? 'active'" ><i class="mini tags icon"></i>标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text" >
                        <img src="https://picsum.photos/id/88/100/100" th:src="@{${session.user.avatar}}" alt="" class="ui avatar image">
                        <span th:text="${session.user.nickname}">zuijianren</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="m-sidebar ui button icon black m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment ">
    <div class="ui  container center aligned">
        <!--共计16列-->
        <div class="ui inverted divided stackable grid m-padded-top">
            <div class="three wide column ">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/weChat.jpg" th:src="@{/images/weChat.jpg}" alt="" class="ui rounded image m-image-footer " style="width: 100px">
                    </div>
                </div>
            </div>
            <!--<div class="three wide column">
              <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined ">最新博客</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">用户故事（用户1）</a>
                <a href="#" class="item">用户故事（用户1）</a>
                <a href="#" class="item">用户故事（用户1）</a>
              </div>
            </div>-->
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined">联系我</h4>
                <div class="ui inverted link list ">
                    <p>
                        <i class="item envelope icon"></i>
                        <span class="item" th:text="'Email:'+#{index.email}">Email: 1460742681@qq.com</span>
                    </p>
                    <p>
                        <i class="item qq icon"></i>
                        <span class="item" th:text="'QQ:'+#{index.qq}">QQ: 1460742681</span>
                    </p>
                </div>
            </div>
            <div class="seven wide column  center aligned">
                <h4 th:text="#{index.footer.h4}" class="ui inverted header  m-text-thin m-text-spaced m-text-lined m-padded-bottom">山居书事</h4>
                <p th:text="#{index.footer.p1}" class="m-opacity-mini m-text-thin m-text-spaced m-text-lined">
                    偶来松树下，高枕石头眠。
                </p>
                <p th:text="#{index.footer.p2}" class="m-opacity-mini m-text-thin m-text-spaced m-text-lined">
                    山中无历日，寒尽不知年。
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <a class="m-opacity-tiny m-text " href="http://www.beian.miit.gov.cn" style="color: white">蜀ICP备19036253号</a>
    </div>
</footer>
</body>
</html>