<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/mine.css" th:href="@{/css/mine.css}">
  <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}">
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu('blogs')" class="ui inverted attached segment m-padded-tb-mini">
  <div class="ui container">
    <!--stackable: 兼容手机端，可堆叠-->
    <div class="ui inverted menu secondary stackable">
      <h2 class="ui header teal item ">管理后台</h2>
      <a href="#" class="item m-mobile-hide m-item active"><i class="mini home icon"></i>博客</a>
      <a href="#" class="item m-mobile-hide m-item "><i class="mini idea icon"></i>分类</a>
      <a href="#" class="item m-mobile-hide m-item"><i class="mini tags icon"></i>标签</a>
      <div class="right menu m-item m-mobile-hide">
        <div class="ui dropdown item">
          <div class="text">
            <img src="https://picsum.photos/id/88/100/100" alt="" class="ui avatar image">
            zuijianren
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="m-sidebar ui button icon black m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>

<!--二级导航-->
<div class="ui attached pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" th:href="@{/admin/blogs/input}" class="active teal item">发布</a>
      <a href="#" th:href="@{/admin/blogs}" class="item  ">列表</a>
    </div>
  </div>
</div>

<!--中间内容-->
<div  class="m-container m-padded-tb-huge ">
  <div class="ui container">
    <form id="blog-form" th:object="${blog}"  th:action="@{/admin/blogs}" action="#" method="post" class="ui form">
      <input type="hidden" name="id" th:value="*{id}">
      <input type="hidden" name="published" th:value="*{published}">
      <!--原创 及标题-->
      <div class=" field">
        <div class="ui left labeled input">
          <div class="ui selection compact teal basic dropdown label">
            <input type="hidden" value="原创" name="flag" th:value="*{flag}" >
            <i class="dropdown icon"></i>
            <div class="text">原创</div>
            <div class="menu">
              <div class="item" data-value="原创">原创</div>
              <div class="item" data-value="转载">转载</div>
              <div class="item" data-value="翻译">翻译</div>
            </div>
          </div>
          <input type="text" name="title" placeholder="标题" th:value="*{title}">
        </div>
      </div>
      <!--文本内容-->
      <div class="field">
        <div id="md-content" style="z-index: 1">
          <textarea name="content" placeholder="博客内容" rows="30"  th:text="*{content}"></textarea>
        </div>
      </div>
      <!--分类和标签-->
      <div class="two fields">
        <!--分类-->
        <div class="field">
          <div class="ui left labeled action input">
            <label  class="ui compact teal basic label">分类</label>
            <div class="ui fluid selection dropdown ">
              <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
              <i class="dropdown icon"></i>
              <div class="default text">分类</div>
              <div class="menu">
                <div th:each="type : ${types}" class="item" th:data-value="${type.id}" th:text="${type.name}"  data-value="1">错误日志</div>
                <!--<div class="item" data-value="1">错误日志</div>
                <div class="item" data-value="2">开发者手册</div>-->
              </div>
            </div>
          </div>
        </div>
        <!--标签-->
        <div class="field">
          <div class="ui left labeled action input">
            <label  class="ui compact teal basic label">标签</label>
            <div class="ui fluid selection dropdown multiple search">
              <input type="hidden" name="tagIds" th:value="${tagIds}">
              <i class="dropdown icon"></i>
              <div class="default text">标签</div>
              <div class="menu">
                <div th:each="tag : ${tags}" class="item" th:data-value="${tag.id}" th:text="${tag.name}"  data-value="1">错误日志</div>
                <!--<div class="item" data-value="1">java</div>
                <div class="item" data-value="2">javascript</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--图片引用地址-->
      <div class="field">
        <div class="ui left labeled input">
          <label  class="ui teal basic label">首图</label>
          <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="首图引用地址">
        </div>
      </div>
      <!--blog描述-->
      <div class="required field">
        <textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="200"></textarea>
      </div>
      <!---->
      <div class="inline fields">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" class="hidden" id="recommend" name="recommend" checked th:checked="*{recommend}">
            <label for="recommend">推荐</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" class="hidden" id="shareStatement" name="shareStatement" th:checked="*{shareStatement}" >
            <label for="shareStatement">转载声明</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" class="hidden" id="appreciation" name="appreciation" th:checked="*{appreciation}">
            <label for="appreciation">赞赏</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" class="hidden" id="commentabled" name="commentabled" th:checked="*{commentabled}">
            <label for="commentabled">评论</label>
          </div>
        </div>
      </div>
      <!--错误提示-->
      <div class="ui error message"></div>
      <!--返回，保存，发布-->
      <div class="ui right aligned container">
        <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
        <button type="button" id="save-btn" class="ui secondary button">保存</button>
        <button type="button" id="publish-btn" class="ui teal button">发布</button>
      </div>
    </form>
  </div>
</div>

<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment">
  <div class="ui  container center aligned">
    <!--共计16列-->
    <div class="ui inverted divided stackable grid">
      <div class="three wide column ">
        <div class="ui inverted link list">
          <div class="item">
            <img src="../../static/images/zaixia.jfif" th:src="/images/zaixia.jfif" alt=""  class="ui rounded image " style="width: 100px">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined ">最新博客</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">用户故事（用户1）</a>
          <a href="#" class="item">用户故事（用户1）</a>
          <a href="#" class="item">用户故事（用户1）</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined">联系我</h4>
        <div class="ui inverted link list ">
          <a href="#" class="item">Email: 1460742681@qq.com</a>
          <a href="#" class="item">QQ: 1460742681</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header  m-text-thin m-text-spaced m-text-lined">最新博客</h4>
        <p class="m-opacity-mini m-text-thin m-text-spaced m-text-lined">这是我的个人博客，会分享关于编程，写作，思考相关的任何内容，希望可以给来到这的人有所帮助</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <a class="m-opacity-tiny m-text-thin m-text-spaced m-text-lined" href="http://www.beian.miit.gov.cn" style="color: white">蜀ICP备19036253号</a>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--<script src="../../static/lib/editormd/editormd.js" th:src="@{/lib/editormd/editormd.js}"></script>-->
  <script>
    /*let contentEditor;
    $(function() {
      contentEditor = editormd("md-content", {
        width   : "100%",
        height  : 640,
        syncScrolling : "single",
        // path: "../static/lib/editormd/lib/"
        path: "/lib/editormd/lib/"
      });
    });*/

    $('.m-sidebar').click(function(){
      $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
      on: 'hover'
    });

    $('#save-btn').click(function () {
      $('[name="published"]').val(false);
      $('#blog-form').submit();
    });
    $('#publish-btn').click(function () {
      $('[name="published"]').val(true);
      $('#blog-form').submit();
    });

    $('.ui.form').form({
      fields: {
        title: {
          identifier: 'title',
          rules: [{
            type: 'empty',
            prompt: '标题：请输入博客标题'
          }]
        },
        content : {
          identifier: 'content',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客内容'
          }]
        },
        typeId : {
          identifier: 'type.id',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客分类'
          }]
        },
        firstPicture : {
          identifier: 'firstPicture',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客首图'
          }]
        },
      }
    })
  </script>
</body>
</html>