<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuijianren.blog.mapper.BlogTagMapper">
    <resultMap id="myBlog" type="blog">
        <id property="id" column="id" ></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="firstPicture" column="firstPicture"></result>
        <result property="flag" column="flag"></result>
        <result property="views" column="views"></result>
        <result property="appreciation" column="appreciation"></result>
        <result property="shareStatement" column="shareStatement"></result>
        <result property="commentabled" column="commentabled"></result>
        <result property="published" column="published"></result>
        <result property="recommend" column="recommend"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="description" column="description"></result>
        <association property="type" javaType="type">
            <id column="tId" property="id"/>
            <result  column="tName"  property="name"/>
        </association>
        <association property="user" javaType="user">
            <id column="uId" property="id"/>
            <result column="uName" property="nickname"/>
            <result column="avatar" property="avatar"/>
        </association>
    </resultMap>
    <sql id="order" >
        <if test="pageResult.desc">
            order by ${pageResult.sort} desc
        </if>
        <if test="!pageResult.desc">
            order by ${pageResult.sort}
        </if>
    </sql>
    <sql id="limit">
        limit
        #{pageResult.start}, #{pageResult.size}
    </sql>
    <insert id="save" >
        insert into t_blog_tag(tag_id, blog_id) values(#{tId}, #{bId})
    </insert>
    <delete id="delete" parameterType="long">
        delete from t_blog_tag where blog_id = #{bId}
    </delete>
    <select id="findTagsByBId" resultType="tag">
        select bt.tag_id as id, t.name as name
        from
            t_blog_tag as bt, t_tag as t
        where
            bt.blog_id = #{bId}
        and
            bt.tag_id = t.id
    </select>
    <select id="listPublishedByTId" resultMap="myBlog">
         SELECT
            b.*,
            u.id as uId, u.nickname as uName, u.avatar,  t.id as tId, t.name as tName
        from
            t_blog_tag as bt, t_blog as b, t_type as t, t_user as u
        where
            bt.tag_id = #{tId}
        and
            bt.blog_id = b.id
        and
             b.user_id = u.id
        and
            b.type_id = t.id
        <include refid="order"></include>
        <include refid="limit"></include>
    </select>
    <select id="countPublishedByTId" parameterType="long" resultType="int">
        select count(*)
        from t_blog_tag as bt, t_blog as b
        where
            bt.tag_id = #{tId}
        and
            bt.blog_id = b.id
    </select>
</mapper>